In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('train_fri.csv')

In [3]:
data.head()
data.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [4]:
data['Product_Category_2'].fillna(data['Product_Category_2'].value_counts().index[0], inplace=True)

In [5]:
data['Product_Category_3'].fillna(data['Product_Category_3'].value_counts().index[0], inplace=True)

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()

In [10]:
g =pd.DataFrame(le.fit_transform(data['Gender']))
a =pd.DataFrame(le.fit_transform(data['Age']))
c =pd.DataFrame(le.fit_transform(data['City_Category']))
s =pd.DataFrame(le.fit_transform(data['Stay_In_Current_City_Years']))

In [11]:
g.columns =['Gender']
a.columns =['Age']
c.columns =['City_Category']
s.columns =['Stay_In_Current_City_Years']

In [12]:
data_1 = data.drop(columns=['User_ID','Product_ID','Gender','Age','City_Category','Stay_In_Current_City_Years','Purchase'])

In [13]:
data_1.head()

,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,10,0,3,8.0,16.0
1,10,0,1,6.0,14.0
2,10,0,12,8.0,16.0
3,10,0,12,14.0,16.0
4,16,0,8,8.0,16.0

In [14]:
data_2 = pd.merge(data_1,g,left_index=True, right_index=True)

In [15]:
data_3 = pd.merge(data_2,a,left_index=True, right_index=True)
data_4 = pd.merge(data_3,c,left_index=True, right_index=True)
data_5 = pd.merge(data_4,s,left_index=True, right_index=True)

In [16]:
data_5.head()

,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Gender,Age,City_Category,Stay_In_Current_City_Years
0,10,0,3,8.0,16.0,0,0,0,2
1,10,0,1,6.0,14.0,0,0,0,2
2,10,0,12,8.0,16.0,0,0,0,2
3,10,0,12,14.0,16.0,0,0,0,2
4,16,0,8,8.0,16.0,1,6,2,4

In [17]:
from sklearn.cross_validation import train_test_split
y = pd.DataFrame(data['Purchase'])

In [20]:
dt = data_5.drop(columns = ['Marital_Status','Gender','Occupation','Stay_In_Current_City_Years'])

In [57]:
#X_train, X_test, y_train, y_test = train_test_split(data_5, y, test_size=0.20, random_state=42)
from xgboost import XGBRegressor
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
from sklearn.tree import DecisionTreeRegressor
tr = DecisionTreeRegressor()

In [58]:
tr.fit(data_5,y)
tr.score(data_5,y)

0.78008028513324201

In [59]:
data_test = pd.read_csv('test_fri.csv')
data_test.head()
data_test['Product_Category_2'].fillna(data['Product_Category_2'].value_counts().index[0], inplace=True)
data_test['Product_Category_3'].fillna(data['Product_Category_3'].value_counts().index[0], inplace=True)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
g =pd.DataFrame(le.fit_transform(data_test['Gender']))
a =pd.DataFrame(le.fit_transform(data_test['Age']))
c =pd.DataFrame(le.fit_transform(data_test['City_Category']))
s =pd.DataFrame(le.fit_transform(data_test['Stay_In_Current_City_Years']))
g.columns =['Gender']
a.columns =['Age']
c.columns =['City_Category']
s.columns =['Stay_In_Current_City_Years']
data_tst = data_test.drop(columns=['User_ID','Product_ID','Gender','Age','City_Category','Stay_In_Current_City_Years'])
#data_tst.head()
data_2t = pd.merge(data_tst,g,left_index=True, right_index=True)
data_3t = pd.merge(data_2t,a,left_index=True, right_index=True)
data_4t = pd.merge(data_3t,c,left_index=True, right_index=True)
data_5t = pd.merge(data_4t,s,left_index=True, right_index=True)

In [60]:
pre = tr.predict(data_5t)

from pandas import ExcelWriter
c = ['par']
fi = pd.DataFrame(pre,columns=c)
writer = ExcelWriter('tr40_black.xlsx')
fi.to_excel(writer)
writer.save()

In [2]:
### here we get arround 81% accuracy